<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>GetStudentDetails</servlet-name>
        <servlet-class>servlet.GetStudentDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SimpleAddStudent</servlet-name>
        <servlet-class>servlet.SimpleAddStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComputeLoanPayment</servlet-name>
        <servlet-class>servlet.ComputeLoanPayment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Q4Servlet</servlet-name>
        <servlet-class>servlet.Q4Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThirdServlet</servlet-name>
        <servlet-class>servlet.ThirdServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetStudentDetails</servlet-name>
        <url-pattern>/GetStudentDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SimpleAddStudent</servlet-name>
        <url-pattern>/SimpleAddStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComputeLoanPayment</servlet-name>
        <url-pattern>/ComputeLoanPayment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Q4Servlet</servlet-name>
        <url-pattern>/Q4Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThirdServlet</servlet-name>
        <url-pattern>/ThirdServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
